h1 {
  font-size: 75px;
  font-family: fantasy;
}

ol {
  font-size: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

button {
  font-size: 30px;
  font-family: fantasy;
  background-color: black;
  color: antiquewhite;
  padding: 15px 25px;
  border-radius: 40%;
}

button:hover {
  background-color: blue;
  color:yellow;
}

.bios {
  padding: 10px;
  justify-content: space-evenly;
}

.jon {
  display: flex;
  width: 75%;
}

.eric {
  display: flex;
  width: 75%;
}

.john {
  display: flex;
  width: 75%;
}

.Shekinah {
  display: flex;
  width: 75%;
}

img {
  max-width: 500px;
  max-height: 500px;
}
