body {
  width: 100%;
}

h1 {
font-family: fantasy;
font-size: 75px;
}

.hats img {
  width: 200px;
  height: 200px;
}

.hats {
  display:flex;
  justify-content: space-around;
   transition: 1s;
}

.jerseys{
  display:flex;
  justify-content: space-around;
  transition: 1s;
}

.shoes {
  display:flex;
  justify-content: space-around;
   transition: 1s;
}

.jerseys img {
width: 200px;
height: 200px;
}

.shoes img {
width: 200px;
height: 200px;
}

#hat1:hover{
  transform: scale(1.3);
  z-index: 2;
}


#hat2:hover{
  transform: scale(1.3);
  z-index: 2;
}


#hat3:hover{
  transform: scale(1.3);
  z-index: 2;
}

#jersey1:hover{
  transform: scale(1.3);
  z-index: 2;
}

#jersey2:hover{
  transform: scale(1.3);
  z-index: 2;
}

#jersey3:hover{
  transform: scale(1.3);
  z-index: 2;
}

#shoes1:hover{
  transform: scale(1.3);
  z-index: 2;
}

#shoes2:hover{
  transform: scale(1.3);
  z-index: 2;
}

#shoes3:hover{
  transform: scale(1.3);
  z-index: 2;
}

button {
  font-size: 30px;
  font-family: fantasy;
  background-color: black;
  color: antiquewhite;
  padding: 15px 25px;
  border-radius: 40%;
}

button:hover {
  background-color: blue;
  color: yellow;
}

ul{
  font-size: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}


  