h1 {
  font-size: 75px;
  font-family: fantasy;
}

.linkList {
  font-size: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

button {
  font-size: 30px;
  font-family: fantasy;
  background-color: black;
  color: antiquewhite;
  padding: 15px 25px;
  border-radius: 40%;
}

button:hover {
  background-color: blue;
  color: yellow;
}

main {
  width: 100%;
  margin: 3rem auto;
  font-family: fantasy;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 25%;
  margin-right: 25%;
  }


p {
  font-size: 25px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.surveyLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  width: 50%;
  height: 500px;
}

section {
  display: flex;
  border: 5px solid black;
  justify-content: space-around;
  width: 800px;
  border-width: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 

}

section img {
  width: 50%;
  max-width: 39rem;
  max-height: 30rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

section + div {
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  font-size: 35px;
}
